<div class="main_title">
  <h1>Stores</h1>
</div>

<div class="container">
  <div class="row">
    <% @stores.each do |store| %>
    <div class="col-md-3">
      <ul class="store_frame">
        <li class="store_image"> <%= image_tag store.image, size: '150' %> </li>
        <li class="store_title"> <%= link_to "#{store.name}", store_path(store) %> </li>
      </ul>
    </div>
    <% end %>
  </div>
</div>
