<h4><%= link_to "Completed", admin_completed_path %> - <%= link_to "Ordered", admin_ordered_path %> - <%= link_to "Paid", admin_paid_path %></h4>
<h3>Cancelled Orders</h3>
<%= render partial: 'partial' %>
