<h4><%= link_to "Completed", admin_completed_path %> - <%= link_to "Cancelled", admin_cancelled_path %> - <%= link_to "Paid", admin_paid_path %></h4>
<h3>Ordered Orders</h3>
<%= render partial: 'partial' %>
