<table class="table table-striped text-left table-bordered">
  <thead><strong>Ordered</strong></thead>
  <tr>
    <th>Order ID</th>
    <th>Full Name</th>

    <th>Total Price</th>
  </tr>
  <tbody>
    <tr><% @orders.ordered.each do |order| %></tr>
    <td><%= link_to order.id, order_path(order) %></td>
    <td><%= order.user.full_name %></td>
    <td><%= order.total_price %></td>
    <% end %>
  </tbody>
</table>
