<div class="container-fluid">
  <h1>Item Index</h1>
  <table class="table table-striped text-left table-bordered">
      <thead>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
      </thead>
<tbody>
  <tr><% @items.each do |item| %></tr>
    <td><%= item.title %></td>
    <td><%= item.description %></td>
    <td><%= item.price %></td>
    <td><%= link_to image_tag(item.image), item_path(item) %></td>
  <% end %>
</tbody>
  </table>
</div>
