/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

 .display {
  width:  250px;
  height: 250px;
 }

 .thumbs {
  width:  75px;
  height: 75px;
 }

 .btn-circle {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  border-radius: 15px;
  float: right;
  margin-right: 10px;
}

h1 {
  font-size: 110px;
  font-family: 'Fredericka the Great', cursive;
}
p{
  font-family: 'Caveat Brush', cursive;
}


.loginBtn--twitter {
  position: relative;
  text-align: center;
  }


.loginBtn--twitter:before {
  background: url('https://s.gr-assets.com/assets/icons/twitter_icon-2289166aec1c47ee68cfb5716142273f.jpg') 6px 6px no-repeat;
}
.loginBtn--twitter:focus {
  background: #66ccff;
}
/////////////stores index
.store_title {
  text-align: center;
  display: inline-block;
  font-family: 'Caveat Brush', cursive;
  background-color: rgba(255, 255, 255, 0.4);
}
.store {
  vertical-align: top;
  display: inline-block;
  align-items: center;
  padding: 20px;
}
.gradient_unselect {
  background: linear-gradient(to top left, rgba(243, 46, 144, 0.5), rgb(243, 243, 46));
}
.gradient_select {
  background: linear-gradient(to top left, rgba(144, 46, 243, 0.5), rgb(243, 243, 46));
}
#main_title {
  background-color: rgba(255, 255, 255, 0.4);
}
#title_background_img {
  background-image: url("http://profilerehab.com/facebook_covers/scenic/turquoise_beach_cover_10.jpg");
}
#body_background_img {
  background-image: url("https://previews.123rf.com/images/dezignmart/dezignmart1510/dezignmart151000022/47746742-Arabesque-Star-Pattern-Light-Grey-Background-Vector-Illustration-Stock-Vector.jpg");
}
/////////////////////////////
