// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 75px;
  color: black;
  text-align: center;
}
h4 {
  font-family: 'Oswald', sans-serif;
}
h4 > a{
  text-decoration: none;
  color: #CD853F;
}
p {
  font-family: 'Quicksand', sans-serif;
}
