.logout {
  margin-right: 10px;
}

.leitbild-text{
  font-size: 2em;
  line-height: 2em;
  height: 13em;
  display: table;
  vertical-align: middle;
  margin:auto;
}

.head {
  text-align: center;
}

.profile {
  width: 500px;
  text-align: center;
  margin-left: 450px;
}

.round {
  border-radius: 5px;
}

.add-to-cart{

}
