h1.logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}

h3.side-nav {
  padding: 0px 16px;
  font-size: 16px;
}

p.logo {
  margin: 5px;
  font-size: 18px;
}

p.description {
  font-size: 11px;
}

h1.home {
  font-family: 'Lora', serif;
}

div.name {
  text-align: center;
  margin-top: 5%;
  font-family: 'Lora', serif;
}


div.degination {
  text-align: center;
  margin-top: 10%;
  font-family: 'Lora', serif;
}

p.card-text {
  text-align: center;
}
