.column-left {
    width: 25%;
    float: left;
}
.column-right {
    width: 75%;
    float: right;
}

.table {
    width: 100%;
    max-width: 75%;
    margin-bottom: 1rem;
    background-color: transparent;
}
