.column-left {
    width: 25%;
    float: left;
}
.column-right {
    width: 75%;
    float: right;
}

.table {
    width: 75%;
    max-width: 75%;
    margin-bottom: 1rem;
    background-color: transparent;
}

div.nav {
  margin: 5px;
}

div.item-show {
  margin: 3rem;

}

div.item-show-info {
  padding: 5%;
}

div.item-show-title {
  padding-top: 5%;
}
