.store_image {
}
.store_title {
  text-align: center;
}
.store_frame {
  vertical-align: top;
  display: inline-block;
  align-items: baseline;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
}
