<div id="main_background">
  <div id="main_title">
    <h1>Categories</h1>
  </div>
</div>

<div id="main_body">
  <div class="row">
    <% @categories.each do |category| %>
    <div class="col-md-2 store">
      <div>
        <ul>
          <li class="card-img-top store_image"> <%= image_tag category.best_image, size: '150' %> </li>
          <li class="store_title"> <%= link_to "#{category.name}", category_path(category) %> </li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>
