
<div class="container">
  <div class="row">
<% @categories.each do |category| %>
    <div class="col-md-3">
      <div class="thumb">
      <a class="thumb_image"><%= image_tag category.items.first.image, size: '100' %></a>
      <%= link_to category.name, category_path(category), class: "thumb_name" %>
      </div>
    </div>
<% end %>
  </div>
</div>
