<%= render "admin/shared/admin_side_nav" %>
<div style="margin-left:16%">
  <h4>My Stores</h4>

  <div class="stores">
    <% @stores.each do |store| %>
      <%= link_to (image_tag(store.image, class: "logo")), admin_store_path(store), class: store.name %><br>
      <p class="logo"><b><%= store.name %></b></p>
      <% if current_user.platform_admin? %>
        <p class="logo">Platform Admin</p>
      <% else %>
        <p class="logo"><%= current_user.user_roles.find_by(store: store).role.name %></p>
    <% end %>
  <% end %>
  </div>
</div>

