<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Store Information", admin_store_path(@store), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Orders", admin_orders_path(id: @store.id), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Items</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Analytics</a>
  </li>
</ul>
