<%= image_tag @store.image, class: "logo" %>
<p class="logo"><%= @store.name %></p>
<%= link_to("Update Business Information", edit_admin_store_path(@store), class: "badge badge-pill badge-primary") %>
